.navbar{
    background-color: var(--color-secondary);
    height: 100vh;
    width: var(--navbar-width);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0.01rem 0 1rem 0.1rem rgba(var(--color-tertiary-rgb),0.3);
    padding-top: 2rem;
    transition: 0.5s;
}
.spacer{
    flex-grow: 2;
}


.navbar-logo{
    width: 80%;
    height: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(2%) sepia(0%) saturate(7296%) hue-rotate(395deg) brightness(70%) contrast(100%); 
    background-image: url("../../assets/images/logo.svg");
    border-radius:1rem;
    transition: all 0.5s;

}

.navbar-item{
    border: 2px solid var(--color-primary);
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    max-height: 2.5rem;
    width: 100%;
    flex-grow: 1;
    background-color: var(--color-tertiary);
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.4s;
    cursor: pointer;
}

.closed:hover{
    background-color: var(--text-secondary);
    border-radius: 0 2rem 2rem 0;
    padding-left: 4rem;

}
.opened{
    background-color: var(--text-secondary);
    border-radius: 0 2rem 2rem 0;
    padding-left: 4rem;
    padding-right: 1rem;
    justify-content: flex-start;
    box-shadow: 0 0.1rem 0.2rem var(--color-tertiary);
    transition: 0.4s;
    
}


.opened:hover{
    background-color: var(--text-primary);
    box-shadow: 0 0.05rem 0.1rem var(--color-tertiary);
    transform: translateY(-0.2rem);
}

.navbar-item-icon .navbar-item-text{
    transition: all 0.5s;
}

.navbar-controller{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2rem;
    margin-left: calc(var(--navbar-width)  +  calc(var(--navbar-width) - 3rem)/2);
    background-color: var(--color-secondary);
    border-radius: 0 1rem 1rem 0;
    transition: all 0.5s;
}

.navbar-controller-icon{
    cursor: pointer;
    filter: invert(6%) sepia(52%) saturate(7296%) hue-rotate(352deg) brightness(103%) contrast(101%); 
    transition: 0.4s;
}

.right-icon:hover{
    transform: translateX(0.3rem) scaleX(1.2);
}

.left-icon:hover{
    transform: translateX(-0.3rem) scaleX(1.2);
}

